body {
    background-color:white;
}
.auth-form {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border: 1px solid #222;
    box-shadow: 2px 2px 4px #222;
    border-radius: 5px;
}
.auth-form .main-form {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 5px;
}
.form-input-bordercolor {
    border-color: rgb(64, 63, 119);
}

.auth-form .main-form button {
    border-radius: 20px;
}

.auth-form .form-heading {
    background-color:#343a40;
    color: #fff;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    width: 100%;
}


.custom-card {
    margin-top: 50px;
}

.card-element {
    margin-bottom: 50px;
}
.card-element .main-card {
    box-shadow:  1px 1px 2px rgb(165, 165, 165);
}
.card-mouse-in {
   background-color: rgba(206, 200, 200, 0.233);
}

.custom-container {
    margin-top: 100px;
}

.auth-button {
    margin-right: 8px;
}
.card-button-margin-right {
    margin-right: 5px;
}
.anchor-button-public {
    width: 100%;
    background-color: #3c9ca8;
    border-radius: 20px;
}

.policelogo {
    width: 40px;
    height: 35px;
    border-radius: 50%;
}

.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
}
.flex-child:first-child {
    margin-right: 90px;
}

.sub-flex-content {
    display: block;
}
.flex-container-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.flex-child-sub {
    flex: 1;
    margin-top: 30px;
    background-color: darkgoldenrod;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
   
}
.flex-child-sub img {
    display: inline-block;
    width: 65px;
    height:65px
}
.flex-child-sub span {
    
    margin-bottom: 25px;
    
  
   background-color: darkgrey;
}


.red{
    background-color: crimson;
}
.blue {
    background-color: cyan;
}
/* .index-page {
    width: 30%;
    height: 30%;
    display: block;
    background-color: cadetblue;
} */

.index-page.image {
    
   
    border-radius: 5px;
}

.navbar-right-div {
    margin-right: 20px;
}

.navbar-custom-dropdown {
    font-size: 15px;
 }
 .navbar-custom-dropdown a {
     margin-bottom: 5px;
 }
 .navbar-custom-dropdown a:hover {
     color: white;
     background-color: #343a40;
 }

.navbar-right-dropdown {
   min-width: 140px;
   font-size: 15px;
}
.navbar-right-dropdown a {
    margin-bottom: 5px;
}
.navbar-right-dropdown a:hover {
    color: white;
    background-color: #343a40;
}

.disp-inline {
    display: inline-block;
}

/* @media (max-width: 576px){
    #index-page-image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
} */