
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <title>Node</title>
    </head>
    <body>
      <%- include('../includes/navigation') %> 


      <div class="container align-center">
        <div class="row">
            <div class="col-md-12">
                <h1>NODE MONITORING</h1>
            </div>
        </div>
      </div>

      <div class="container card-container-margin-top">
          <div class="row">
              <div class="col-12 col-md-4 card-margin-bottom">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Abuja Sites</h5>
                      <p class="card-text">View all nodes in Lagos State</p>
                      <a href="#" class="btn btn-primary card-button-margin-right">Visit site</a>
                      <a href="#" class="btn btn-success card-button-margin-right">Edit</a>
                      <a href="#" class="btn btn-danger card-button-margin-right">Delete</a>
                    </div>
                  </div>
              </div>

              <div class="col-12 col-md-4 card-margin-bottom">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Lagos Sites</h5>
                      <p class="card-text">View all nodes in Lagos State</p>
                      <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                  </div>
              </div>

              <div class="col-12 col-md-4 card-margin-bottom">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Ogun Sites</h5>
                      <p class="card-text">View all nodes in Lagos State</p>
                      <a href="#" class="btn btn-primary">Visit</a>
                    </div>
                  </div>
              </div>
             

              
          </div>
      </div>

     
     
    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

