<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>NPFABIS</title>
</head>
<body>
    <%- include('../includes/navigation') %>     
     <div class="container">
      <div class="row flex-container" style="margin-top: 100px;">       
          <div class="col-md-6 col-sm-6 flex-child red">
            <img src="/images/policelogo.png" alt="police logo">
            hhh
          </div>
          <div class="col-md-6 col-sm-6 col-6 flex-child blue">
            <!-- <img src="/images/policelogo.png" alt="police logo"> -->
            
           <div class="sub-flex-contentl">
            <div class="flex-container-sub">
              <div class="flex-child-sub">
                <span>Network Monitoring</span>
                <img src="/images/policelogo.png" alt="police logo">
              </div>
              <!-- <div class="flex-child-sub">
                
              </div> -->
             </div>

              <div class="flex-container-sub">
                <div class="flex-child-sub">
                  <span>Case Management</span>
                </div>
                <div class="flex-child-sub">
                  <img src="/images/policelogo.png" alt="police logo">
                </div>
              </div>

              <div class="flex-container-sub">
                <div class="flex-child-sub">
                  <span>Network Monitoring</span>
                </div>
                <div class="flex-child-sub">
                  <img src="/images/policelogo.png" alt="police logo">
                </div>
              </div>
            </div>
          </div>       
      </div>
     </div>
    <script src="/bootstrap/js/jquery.js"></script>
    <script src="/bootstrap/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script>
    <script>
    </script>
</body>
</html>